<style>
marquee{
background-color:#e04719;
color:#ff3300;
}
#heading{
text-align:center;
}

#login{

border-style:solid;
margin-left:80%;
}
#loginh2{
text-align:center;
}
#time{
margin-left:80%;
text-align:center;
}
#button{
 background-color: #009999;
  color: white;
  padding: 7px 20px;
  text-align: center;
  display: inline-block;
  -ms-transform: translateY(-50%);
  transform: translateY(50%);
  /*font-size: 16px;
  margin: 4px 2px; */
  cursor: pointer;
}
#button1{
background-color:#009999;
color:black;
padding: 10px 65px;
text-align:center;
display:inline-block;
cursor:pointer;
}
footer{
 display: block;
 text-align: center;
 bottom:0;
 width: 100%;
 height: 20px;
position: fixed;
background-color:#ffffff;
}
p{
font-size:20px;
font-family:"Times New Roman";
}
body{
background-image:url("images/restaurant_background.jpg");
background-repeat:no-repeat;
background-size: cover;
}
section{
font-size:30px;
top:50%;
}
#ali{
text-align:justify;
}
nav{
font-size:20px;
border-style:solid;
background-color:#3e7ff7;
}
</style>